@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";

.sora {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }

.dm-sans {
    font-family: 'DM Sans', sans-serif;
}

.text-custom-blue {
  color: #0649E7;
}

.bg-custom-blue {
  background-color: #0649E7;
}

.text-custom-indigo {
  color: #022183;
}

.bg-custom-indigo {
  background-color: #022183;
}

button.hover\:bg-custom-indigo:hover {
  background-color: #022183; /* Your custom indigo color */
}

button.hover\:text-white:hover {
  color: white; /* Ensure the text color changes to white on hover */
}

.border-custom-indigo {
  color: #022183;
}

.border-custom-blue {
  color: #0649E7;
}

.bg-custom-slate {
  background-color: #F8FAFF;
}